{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label class="field">
      <span class="label">Username</span>
      <input name="username" id="username" type="text" placeholder="your_username" required />
    </label>

    <label class="field">
      <span class="label">Password</span>
      <input name="password" id="password" type="password" placeholder="••••••••" required />
      <span class="description">
        Enter your account password to continue
      </span>
    </label>

    <button type="submit" class="primary">
      Login
    </button>

    <a href="/auth/register">Register a new user</a>
  </form>
{% endblock %}
