{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label class="field">
      <span class="label">Username</span>
      <input name="username" id="username" type="text" placeholder="your_username" required />
    </label>

    <label class="field">
      <span class="label">Password</span>
      <input name="password" id="password" type="password" placeholder="••••••••" required />
      <span class="description">
          Please use a <a href="https://bitwarden.com/passphrase-generator/">generator for creating passwords</a>
      </span>
    </label>

    <button type="submit" class="primary">
      Register
    </button>

    <a href="/auth/login">Login with an existing user</a>
  </form>
{% endblock %}
